node_modules/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

pids/
*.pid
*.seed
*.pid.lock

.env
.env.*
!.env.example

dist/
build/
coverage/
.nyc_output/

.tmp/
.cache/

.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo

uploads/
public/uploads/

.aws/

*.tsbuildinfo

mongo-data/
mongodb-data/
dump/

.S3git